JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d


#postgre
POSTGRES_HOST=127.0.0.1 
POSTGRES_PORT=5432 
POSTGRES_USER=postgres 
POSTGRES_PASSWORD=mysecretpassword 
POSTGRES_DATABASE=my_database